* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Estilo nav*/

/*estilo nav bar */

.frame {
  margin-top: 3em;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

/*
.menu {
    padding: 0 10px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}     */

.active {
    opacity: 1;
    pointer-events: all;
    transition: all .5s ease-in-out .5s;
}
    
.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 350px;
    margin: 0;
    padding: 0;
}  
    
.menu ul li {
    position: relative;
    display: block;
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}   
      
.menu ul li :hover {
  color: #000249; 
    /*opacity: 0.6; */
    text-decoration: underline;
}
.contact {
  background-image: url('../assets/images/back-4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section-title {
  margin-top: 1em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}

.images {
  overflow: auto;
  height: auto;
}

.images {
  margin-top: 4em;
}

.images div {
  width: 150px;
  height:150px;
  margin: 0.2em !important;
  float: left;
}

h2 {
  text-align: center;
}

.images div img {
  width: 150px;
  height: 150px;
  filter: grayscale();
}


.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  
}
.datos {
  margin-top: 20em;
}
.datos-container {
  align-self: flex-start;
}


.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.datos-container img.github {
  cursor: pointer;
  margin-top: 1em;
  width: 15%;
}

.datos-container img.linkedin {
  cursor: pointer;
  margin-top: 1em;
  width: 9%;
}

.dowload-cv {
  text-decoration: none;
  padding: 1em;
  background-color: #000249;
  border-radius: 10px;
  font-size: 1.3em;
  color: #fff;
}

@media (max-width:722px ) {
  .frame {
    margin-top: 3em;
    font-size: 1.5em;
    color: #000249;
    cursor: pointer;
    width: 100%;
  }
  
  .menu ul {
    margin:  0 auto;
    width: 300px;
  
}  

.section-title {
  margin-top: 2em;
  letter-spacing: 2px;
  font-size: 2.5em;

}
.contact {
  background-size: cover;
}

.images {
  margin-top: 2em;
}

.images div {
  width: 65px;
  height:65px;
  margin: 0.2em !important;
  float: left;
}


.images div img {
  width: 65px;
  height: 65px;
  filter: grayscale();
}
.datos {
  margin-top: 3em;
}

.dowload-cv {
  text-decoration: none;
  padding: 0.5em;
  background-color: #000249;
  border-radius: 10px;
  font-size: 1.2em;
  color: #fff;
}

.email {
  font-size: 1.3em;
}
}