* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-logo {
  margin-top: 8em;
}

.container-nav {
  width: 25%;
}

.logo {
  width: 50%;
}

.display-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.display-col-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.fz-8em { 
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 8em;
} 